.home-container {
    // display:flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;

    form {
      margin-left: 50%;
      margin-right: 50%;
      display: flex;
    }

    .caroussel {
      display: flex;
      overflow: scroll;
      padding: 1rem 0;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 450px;
      margin-left: 1rem;
      
      .imgContainer {
        margin-left: 0.5rem;
      }
    }
}



